body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height:auto;
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}
.about{
    width: 100%;
    height: 500px;
    background-image: url(images/wall.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.text{
    font-size: 30px;
    color: orange;
    font-family:cursive;
    text-shadow: 0px 15px 122px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.detail{
    width: 100%;
    height: 50%;
    background-color: orange;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
.section{
    width: 100%;
    height: 50%;
    background-color: chocolate;
    font-size: 25px;
    font-family:sans-serif;
    color:black;
    line-height: 30px;
    text-align: center;
}
b{
    font-family: cursive;
    font-size: 20px;
    color: red;
}
footer{
    width: 100%;
    height: auto;
    background-color:orange;
    color:white;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
