body{
    margin: 0;
    padding: 0;
    font-family:cursive;
    background-image:url(images/lappy.jpg);
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 60px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 15px;
}
.box h2{
    margin: 30;
    padding: 0;
    color:snow;
    text-align: center;
}
.box .inputbox
{
    position: relative;
    
}
.box .inputbox input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color:ghostwhite;
    letter-spacing: normal;
    margin-bottom:30px;
    border: none;
    border: 2px solid aqua;
    outline:none;
    background: transparent;
}
.box .inputbox label
{
    
    position: absolute;
    top:0;
    left:0;
     padding: 10px;
    font-size: 10px; 
    color:ghostwhite;
   pointer-events:none;
    transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top:-34px;
    left:0;
    color:orange;
    font-size: 18px;
}
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color:floralwhite;
    background: blue;   ;
    padding: 10px 20px;
    cursor:grab;
    border-radius:10px;
}